/**
        * CONTENTS
        *
        * ESSENTIAL
        * Variables............SASS/SCSS variables (which are also generated to normal CSS)
        * Mixins...............SASS/SCSS mixins
        * Reset................Resetter CSS for elements.
        * Normalize............Normalizer to make things look good.
        * Headings.............For headings: <h1>, <h2>, <h3>, <h4>, <h5>, <h6>.
        *
        * CLASSES
        * Layout...............Layout classes, such as ".container", ".m--auto", etc.
        * Helpers..............Helper classes, such as ".clearfix", ".align--center", etc.
        *
        * GRID
        * Grid.................Grid container element(<main>) and grid--* classes.
        * Layouts..............Pre-made grid templates.
        *
        * NAVIGATION
        * Navigation...........For menu/navigations
    */
/* _______ */
/*         */
/* Default */
/* _______ */
/* Variables */
/* Main values and sizes */
/* ______ */
/*        */
/* Colors */
/* ______ */
.bg--white {
  background-color: #fdfefe;
}

.bg--white--darken-1 {
  background-color: #fafcfc;
}

.bg--white--darken-2 {
  background-color: #f6fbfb;
}

.bg--white--darken-3 {
  background-color: #f3f9f9;
}

.bg--white--darken-4 {
  background-color: #eff7f7;
}

.bg--white--darken-5 {
  background-color: #ecf6f6;
}

.bg--white--darken-6 {
  background-color: #e9f4f4;
}

.bg--white--darken-7 {
  background-color: #e5f2f2;
}

.bg--white--darken-8 {
  background-color: #e2f0f0;
}

.bg--white--darken-9 {
  background-color: #deefef;
}

.bg--white--darken-10 {
  background-color: #dbeded;
}

.color--white {
  color: #fdfefe;
}

.color--white--darken-1 {
  color: #fafcfc;
}

.color--white--darken-2 {
  color: #f6fbfb;
}

.color--white--darken-3 {
  color: #f3f9f9;
}

.color--white--darken-4 {
  color: #eff7f7;
}

.color--white--darken-5 {
  color: #ecf6f6;
}

.color--white--darken-6 {
  color: #e9f4f4;
}

.color--white--darken-7 {
  color: #e5f2f2;
}

.color--white--darken-8 {
  color: #e2f0f0;
}

.color--white--darken-9 {
  color: #deefef;
}

.color--white--darken-10 {
  color: #dbeded;
}

.bg--black {
  background-color: #222222;
}

.bg--black--lighten-1 {
  background-color: #252525;
}

.bg--black--darken-1 {
  background-color: #1f1f1f;
}

.bg--black--lighten-2 {
  background-color: #272727;
}

.bg--black--darken-2 {
  background-color: #1d1d1d;
}

.bg--black--lighten-3 {
  background-color: #2a2a2a;
}

.bg--black--darken-3 {
  background-color: #1a1a1a;
}

.bg--black--lighten-4 {
  background-color: #2c2c2c;
}

.bg--black--darken-4 {
  background-color: #181818;
}

.bg--black--lighten-5 {
  background-color: #2f2f2f;
}

.bg--black--darken-5 {
  background-color: #151515;
}

.bg--black--lighten-6 {
  background-color: #313131;
}

.bg--black--darken-6 {
  background-color: #131313;
}

.bg--black--lighten-7 {
  background-color: #343434;
}

.bg--black--darken-7 {
  background-color: #101010;
}

.bg--black--lighten-8 {
  background-color: #363636;
}

.bg--black--darken-8 {
  background-color: #0e0e0e;
}

.bg--black--lighten-9 {
  background-color: #393939;
}

.bg--black--darken-9 {
  background-color: #0b0b0b;
}

.bg--black--lighten-10 {
  background-color: #3c3c3c;
}

.bg--black--darken-10 {
  background-color: #090909;
}

.color--black {
  color: #222222;
}

.color--black--lighten-1 {
  color: #252525;
}

.color--black--darken-1 {
  color: #1f1f1f;
}

.color--black--lighten-2 {
  color: #272727;
}

.color--black--darken-2 {
  color: #1d1d1d;
}

.color--black--lighten-3 {
  color: #2a2a2a;
}

.color--black--darken-3 {
  color: #1a1a1a;
}

.color--black--lighten-4 {
  color: #2c2c2c;
}

.color--black--darken-4 {
  color: #181818;
}

.color--black--lighten-5 {
  color: #2f2f2f;
}

.color--black--darken-5 {
  color: #151515;
}

.color--black--lighten-6 {
  color: #313131;
}

.color--black--darken-6 {
  color: #131313;
}

.color--black--lighten-7 {
  color: #343434;
}

.color--black--darken-7 {
  color: #101010;
}

.color--black--lighten-8 {
  color: #363636;
}

.color--black--darken-8 {
  color: #0e0e0e;
}

.color--black--lighten-9 {
  color: #393939;
}

.color--black--darken-9 {
  color: #0b0b0b;
}

.color--black--lighten-10 {
  color: #3c3c3c;
}

.color--black--darken-10 {
  color: #090909;
}

.bg--gray {
  background-color: #b3b6b7;
}

.bg--gray--lighten-1 {
  background-color: #b6b9b9;
}

.bg--gray--darken-1 {
  background-color: #b0b3b5;
}

.bg--gray--lighten-2 {
  background-color: #b8bbbc;
}

.bg--gray--darken-2 {
  background-color: #aeb1b2;
}

.bg--gray--lighten-3 {
  background-color: #bbbebe;
}

.bg--gray--darken-3 {
  background-color: #abaeb0;
}

.bg--gray--lighten-4 {
  background-color: #bdc0c1;
}

.bg--gray--darken-4 {
  background-color: #a9acad;
}

.bg--gray--lighten-5 {
  background-color: #c0c3c3;
}

.bg--gray--darken-5 {
  background-color: #a6a9ab;
}

.bg--gray--lighten-6 {
  background-color: #c3c5c6;
}

.bg--gray--darken-6 {
  background-color: #a3a7a8;
}

.bg--gray--lighten-7 {
  background-color: #c5c8c8;
}

.bg--gray--darken-7 {
  background-color: #a1a4a6;
}

.bg--gray--lighten-8 {
  background-color: #c8cacb;
}

.bg--gray--darken-8 {
  background-color: #9ea2a3;
}

.bg--gray--lighten-9 {
  background-color: #cbcdcd;
}

.bg--gray--darken-9 {
  background-color: #9b9fa1;
}

.bg--gray--lighten-10 {
  background-color: #cdcfd0;
}

.bg--gray--darken-10 {
  background-color: #999d9e;
}

.color--gray {
  color: #b3b6b7;
}

.color--gray--lighten-1 {
  color: #b6b9b9;
}

.color--gray--darken-1 {
  color: #b0b3b5;
}

.color--gray--lighten-2 {
  color: #b8bbbc;
}

.color--gray--darken-2 {
  color: #aeb1b2;
}

.color--gray--lighten-3 {
  color: #bbbebe;
}

.color--gray--darken-3 {
  color: #abaeb0;
}

.color--gray--lighten-4 {
  color: #bdc0c1;
}

.color--gray--darken-4 {
  color: #a9acad;
}

.color--gray--lighten-5 {
  color: #c0c3c3;
}

.color--gray--darken-5 {
  color: #a6a9ab;
}

.color--gray--lighten-6 {
  color: #c3c5c6;
}

.color--gray--darken-6 {
  color: #a3a7a8;
}

.color--gray--lighten-7 {
  color: #c5c8c8;
}

.color--gray--darken-7 {
  color: #a1a4a6;
}

.color--gray--lighten-8 {
  color: #c8cacb;
}

.color--gray--darken-8 {
  color: #9ea2a3;
}

.color--gray--lighten-9 {
  color: #cbcdcd;
}

.color--gray--darken-9 {
  color: #9b9fa1;
}

.color--gray--lighten-10 {
  color: #cdcfd0;
}

.color--gray--darken-10 {
  color: #999d9e;
}

.bg--red {
  background-color: #e74c3c;
}

.bg--red--lighten-1 {
  background-color: #e85041;
}

.bg--red--darken-1 {
  background-color: #e64837;
}

.bg--red--lighten-2 {
  background-color: #e85445;
}

.bg--red--darken-2 {
  background-color: #e64433;
}

.bg--red--lighten-3 {
  background-color: #e9594a;
}

.bg--red--darken-3 {
  background-color: #e53f2e;
}

.bg--red--lighten-4 {
  background-color: #e95d4e;
}

.bg--red--darken-4 {
  background-color: #e53b2a;
}

.bg--red--lighten-5 {
  background-color: #ea6153;
}

.bg--red--darken-5 {
  background-color: #e43725;
}

.bg--red--lighten-6 {
  background-color: #ea6557;
}

.bg--red--darken-6 {
  background-color: #e43321;
}

.bg--red--lighten-7 {
  background-color: #eb695c;
}

.bg--red--darken-7 {
  background-color: #e32f1c;
}

.bg--red--lighten-8 {
  background-color: #eb6d60;
}

.bg--red--darken-8 {
  background-color: #df2e1b;
}

.bg--red--lighten-9 {
  background-color: #ec7265;
}

.bg--red--darken-9 {
  background-color: #da2d1b;
}

.bg--red--lighten-10 {
  background-color: #ed7669;
}

.bg--red--darken-10 {
  background-color: #d62c1a;
}

.color--red {
  color: #e74c3c;
}

.color--red--lighten-1 {
  color: #e85041;
}

.color--red--darken-1 {
  color: #e64837;
}

.color--red--lighten-2 {
  color: #e85445;
}

.color--red--darken-2 {
  color: #e64433;
}

.color--red--lighten-3 {
  color: #e9594a;
}

.color--red--darken-3 {
  color: #e53f2e;
}

.color--red--lighten-4 {
  color: #e95d4e;
}

.color--red--darken-4 {
  color: #e53b2a;
}

.color--red--lighten-5 {
  color: #ea6153;
}

.color--red--darken-5 {
  color: #e43725;
}

.color--red--lighten-6 {
  color: #ea6557;
}

.color--red--darken-6 {
  color: #e43321;
}

.color--red--lighten-7 {
  color: #eb695c;
}

.color--red--darken-7 {
  color: #e32f1c;
}

.color--red--lighten-8 {
  color: #eb6d60;
}

.color--red--darken-8 {
  color: #df2e1b;
}

.color--red--lighten-9 {
  color: #ec7265;
}

.color--red--darken-9 {
  color: #da2d1b;
}

.color--red--lighten-10 {
  color: #ed7669;
}

.color--red--darken-10 {
  color: #d62c1a;
}

.bg--purple {
  background-color: #8e44ad;
}

.bg--purple--lighten-1 {
  background-color: #9145b1;
}

.bg--purple--darken-1 {
  background-color: #8b43a9;
}

.bg--purple--lighten-2 {
  background-color: #9447b4;
}

.bg--purple--darken-2 {
  background-color: #8841a6;
}

.bg--purple--lighten-3 {
  background-color: #9749b7;
}

.bg--purple--darken-3 {
  background-color: #8540a2;
}

.bg--purple--lighten-4 {
  background-color: #994db9;
}

.bg--purple--darken-4 {
  background-color: #823e9e;
}

.bg--purple--lighten-5 {
  background-color: #9b50ba;
}

.bg--purple--darken-5 {
  background-color: #7f3d9b;
}

.bg--purple--lighten-6 {
  background-color: #9d54bc;
}

.bg--purple--darken-6 {
  background-color: #7c3b97;
}

.bg--purple--lighten-7 {
  background-color: #9f58bd;
}

.bg--purple--darken-7 {
  background-color: #793a93;
}

.bg--purple--lighten-8 {
  background-color: #a15bbf;
}

.bg--purple--darken-8 {
  background-color: #763890;
}

.bg--purple--lighten-9 {
  background-color: #a35fc0;
}

.bg--purple--darken-9 {
  background-color: #73378c;
}

.bg--purple--lighten-10 {
  background-color: #a563c1;
}

.bg--purple--darken-10 {
  background-color: #703688;
}

.color--purple {
  color: #8e44ad;
}

.color--purple--lighten-1 {
  color: #9145b1;
}

.color--purple--darken-1 {
  color: #8b43a9;
}

.color--purple--lighten-2 {
  color: #9447b4;
}

.color--purple--darken-2 {
  color: #8841a6;
}

.color--purple--lighten-3 {
  color: #9749b7;
}

.color--purple--darken-3 {
  color: #8540a2;
}

.color--purple--lighten-4 {
  color: #994db9;
}

.color--purple--darken-4 {
  color: #823e9e;
}

.color--purple--lighten-5 {
  color: #9b50ba;
}

.color--purple--darken-5 {
  color: #7f3d9b;
}

.color--purple--lighten-6 {
  color: #9d54bc;
}

.color--purple--darken-6 {
  color: #7c3b97;
}

.color--purple--lighten-7 {
  color: #9f58bd;
}

.color--purple--darken-7 {
  color: #793a93;
}

.color--purple--lighten-8 {
  color: #a15bbf;
}

.color--purple--darken-8 {
  color: #763890;
}

.color--purple--lighten-9 {
  color: #a35fc0;
}

.color--purple--darken-9 {
  color: #73378c;
}

.color--purple--lighten-10 {
  color: #a563c1;
}

.color--purple--darken-10 {
  color: #703688;
}

.bg--blue {
  background-color: #3498db;
}

.bg--blue--lighten-1 {
  background-color: #389adc;
}

.bg--blue--darken-1 {
  background-color: #3096da;
}

.bg--blue--lighten-2 {
  background-color: #3d9cdd;
}

.bg--blue--darken-2 {
  background-color: #2b94d9;
}

.bg--blue--lighten-3 {
  background-color: #419fdd;
}

.bg--blue--darken-3 {
  background-color: #2791d9;
}

.bg--blue--lighten-4 {
  background-color: #45a1de;
}

.bg--blue--darken-4 {
  background-color: #268fd5;
}

.bg--blue--lighten-5 {
  background-color: #4aa3df;
}

.bg--blue--darken-5 {
  background-color: #258cd1;
}

.bg--blue--lighten-6 {
  background-color: #4ea5e0;
}

.bg--blue--darken-6 {
  background-color: #2489cc;
}

.bg--blue--lighten-7 {
  background-color: #52a7e0;
}

.bg--blue--darken-7 {
  background-color: #2386c8;
}

.bg--blue--lighten-8 {
  background-color: #57aae1;
}

.bg--blue--darken-8 {
  background-color: #2383c4;
}

.bg--blue--lighten-9 {
  background-color: #5bace2;
}

.bg--blue--darken-9 {
  background-color: #2280bf;
}

.bg--blue--lighten-10 {
  background-color: #5faee3;
}

.bg--blue--darken-10 {
  background-color: #217dbb;
}

.color--blue {
  color: #3498db;
}

.color--blue--lighten-1 {
  color: #389adc;
}

.color--blue--darken-1 {
  color: #3096da;
}

.color--blue--lighten-2 {
  color: #3d9cdd;
}

.color--blue--darken-2 {
  color: #2b94d9;
}

.color--blue--lighten-3 {
  color: #419fdd;
}

.color--blue--darken-3 {
  color: #2791d9;
}

.color--blue--lighten-4 {
  color: #45a1de;
}

.color--blue--darken-4 {
  color: #268fd5;
}

.color--blue--lighten-5 {
  color: #4aa3df;
}

.color--blue--darken-5 {
  color: #258cd1;
}

.color--blue--lighten-6 {
  color: #4ea5e0;
}

.color--blue--darken-6 {
  color: #2489cc;
}

.color--blue--lighten-7 {
  color: #52a7e0;
}

.color--blue--darken-7 {
  color: #2386c8;
}

.color--blue--lighten-8 {
  color: #57aae1;
}

.color--blue--darken-8 {
  color: #2383c4;
}

.color--blue--lighten-9 {
  color: #5bace2;
}

.color--blue--darken-9 {
  color: #2280bf;
}

.color--blue--lighten-10 {
  color: #5faee3;
}

.color--blue--darken-10 {
  color: #217dbb;
}

.bg--green {
  background-color: #27ae60;
}

.bg--green--lighten-1 {
  background-color: #28b262;
}

.bg--green--darken-1 {
  background-color: #26aa5e;
}

.bg--green--lighten-2 {
  background-color: #29b665;
}

.bg--green--darken-2 {
  background-color: #25a65b;
}

.bg--green--lighten-3 {
  background-color: #2aba67;
}

.bg--green--darken-3 {
  background-color: #24a259;
}

.bg--green--lighten-4 {
  background-color: #2bbf69;
}

.bg--green--darken-4 {
  background-color: #239d57;
}

.bg--green--lighten-5 {
  background-color: #2cc36b;
}

.bg--green--darken-5 {
  background-color: #229955;
}

.bg--green--lighten-6 {
  background-color: #2dc76e;
}

.bg--green--darken-6 {
  background-color: #219552;
}

.bg--green--lighten-7 {
  background-color: #2ecb70;
}

.bg--green--darken-7 {
  background-color: #209150;
}

.bg--green--lighten-8 {
  background-color: #2ecf72;
}

.bg--green--darken-8 {
  background-color: #208d4e;
}

.bg--green--lighten-9 {
  background-color: #32d175;
}

.bg--green--darken-9 {
  background-color: #1f894b;
}

.bg--green--lighten-10 {
  background-color: #36d278;
}

.bg--green--darken-10 {
  background-color: #1e8449;
}

.color--green {
  color: #27ae60;
}

.color--green--lighten-1 {
  color: #28b262;
}

.color--green--darken-1 {
  color: #26aa5e;
}

.color--green--lighten-2 {
  color: #29b665;
}

.color--green--darken-2 {
  color: #25a65b;
}

.color--green--lighten-3 {
  color: #2aba67;
}

.color--green--darken-3 {
  color: #24a259;
}

.color--green--lighten-4 {
  color: #2bbf69;
}

.color--green--darken-4 {
  color: #239d57;
}

.color--green--lighten-5 {
  color: #2cc36b;
}

.color--green--darken-5 {
  color: #229955;
}

.color--green--lighten-6 {
  color: #2dc76e;
}

.color--green--darken-6 {
  color: #219552;
}

.color--green--lighten-7 {
  color: #2ecb70;
}

.color--green--darken-7 {
  color: #209150;
}

.color--green--lighten-8 {
  color: #2ecf72;
}

.color--green--darken-8 {
  color: #208d4e;
}

.color--green--lighten-9 {
  color: #32d175;
}

.color--green--darken-9 {
  color: #1f894b;
}

.color--green--lighten-10 {
  color: #36d278;
}

.color--green--darken-10 {
  color: #1e8449;
}

.bg--yellow {
  background-color: #f1c40f;
}

.bg--yellow--lighten-1 {
  background-color: #f1c514;
}

.bg--yellow--darken-1 {
  background-color: #edc10e;
}

.bg--yellow--lighten-2 {
  background-color: #f2c619;
}

.bg--yellow--darken-2 {
  background-color: #e8bd0e;
}

.bg--yellow--lighten-3 {
  background-color: #f2c81d;
}

.bg--yellow--darken-3 {
  background-color: #e3b90d;
}

.bg--yellow--lighten-4 {
  background-color: #f2c922;
}

.bg--yellow--darken-4 {
  background-color: #dfb50d;
}

.bg--yellow--lighten-5 {
  background-color: #f2ca27;
}

.bg--yellow--darken-5 {
  background-color: #dab10d;
}

.bg--yellow--lighten-6 {
  background-color: #f3cb2c;
}

.bg--yellow--darken-6 {
  background-color: #d5ad0c;
}

.bg--yellow--lighten-7 {
  background-color: #f3cc31;
}

.bg--yellow--darken-7 {
  background-color: #d0a90c;
}

.bg--yellow--lighten-8 {
  background-color: #f3cd36;
}

.bg--yellow--darken-8 {
  background-color: #cba50c;
}

.bg--yellow--lighten-9 {
  background-color: #f4cf3a;
}

.bg--yellow--darken-9 {
  background-color: #c7a10c;
}

.bg--yellow--lighten-10 {
  background-color: #f4d03f;
}

.bg--yellow--darken-10 {
  background-color: #c29d0b;
}

.color--yellow {
  color: #f1c40f;
}

.color--yellow--lighten-1 {
  color: #f1c514;
}

.color--yellow--darken-1 {
  color: #edc10e;
}

.color--yellow--lighten-2 {
  color: #f2c619;
}

.color--yellow--darken-2 {
  color: #e8bd0e;
}

.color--yellow--lighten-3 {
  color: #f2c81d;
}

.color--yellow--darken-3 {
  color: #e3b90d;
}

.color--yellow--lighten-4 {
  color: #f2c922;
}

.color--yellow--darken-4 {
  color: #dfb50d;
}

.color--yellow--lighten-5 {
  color: #f2ca27;
}

.color--yellow--darken-5 {
  color: #dab10d;
}

.color--yellow--lighten-6 {
  color: #f3cb2c;
}

.color--yellow--darken-6 {
  color: #d5ad0c;
}

.color--yellow--lighten-7 {
  color: #f3cc31;
}

.color--yellow--darken-7 {
  color: #d0a90c;
}

.color--yellow--lighten-8 {
  color: #f3cd36;
}

.color--yellow--darken-8 {
  color: #cba50c;
}

.color--yellow--lighten-9 {
  color: #f4cf3a;
}

.color--yellow--darken-9 {
  color: #c7a10c;
}

.color--yellow--lighten-10 {
  color: #f4d03f;
}

.color--yellow--darken-10 {
  color: #c29d0b;
}

.bg--midnight {
  background-color: #17202a;
}

.bg--midnight--lighten-1 {
  background-color: #19232d;
}

.bg--midnight--darken-1 {
  background-color: #151d27;
}

.bg--midnight--lighten-2 {
  background-color: #1b2531;
}

.bg--midnight--darken-2 {
  background-color: #131b23;
}

.bg--midnight--lighten-3 {
  background-color: #1c2834;
}

.bg--midnight--darken-3 {
  background-color: #121820;
}

.bg--midnight--lighten-4 {
  background-color: #1e2a37;
}

.bg--midnight--darken-4 {
  background-color: #10161d;
}

.bg--midnight--lighten-5 {
  background-color: #202d3a;
}

.bg--midnight--darken-5 {
  background-color: #0e131a;
}

.bg--midnight--lighten-6 {
  background-color: #222f3e;
}

.bg--midnight--darken-6 {
  background-color: #0c1116;
}

.bg--midnight--lighten-7 {
  background-color: #243241;
}

.bg--midnight--darken-7 {
  background-color: #0a0e13;
}

.bg--midnight--lighten-8 {
  background-color: #253444;
}

.bg--midnight--darken-8 {
  background-color: #090c10;
}

.bg--midnight--lighten-9 {
  background-color: #273748;
}

.bg--midnight--darken-9 {
  background-color: #07090c;
}

.bg--midnight--lighten-10 {
  background-color: #29394b;
}

.bg--midnight--darken-10 {
  background-color: #050709;
}

.color--midnight {
  color: #17202a;
}

.color--midnight--lighten-1 {
  color: #19232d;
}

.color--midnight--darken-1 {
  color: #151d27;
}

.color--midnight--lighten-2 {
  color: #1b2531;
}

.color--midnight--darken-2 {
  color: #131b23;
}

.color--midnight--lighten-3 {
  color: #1c2834;
}

.color--midnight--darken-3 {
  color: #121820;
}

.color--midnight--lighten-4 {
  color: #1e2a37;
}

.color--midnight--darken-4 {
  color: #10161d;
}

.color--midnight--lighten-5 {
  color: #202d3a;
}

.color--midnight--darken-5 {
  color: #0e131a;
}

.color--midnight--lighten-6 {
  color: #222f3e;
}

.color--midnight--darken-6 {
  color: #0c1116;
}

.color--midnight--lighten-7 {
  color: #243241;
}

.color--midnight--darken-7 {
  color: #0a0e13;
}

.color--midnight--lighten-8 {
  color: #253444;
}

.color--midnight--darken-8 {
  color: #090c10;
}

.color--midnight--lighten-9 {
  color: #273748;
}

.color--midnight--darken-9 {
  color: #07090c;
}

.color--midnight--lighten-10 {
  color: #29394b;
}

.color--midnight--darken-10 {
  color: #050709;
}

@supports (--var: green) {
  :root {
    --size: 1.48;
    --timing: 250ms;
    --white: #fdfefe;
    --black: #222222;
    --gray: #b3b6b7;
    --red: #e74c3c;
    --purple: #8e44ad;
    --blue: #3498db;
    --green: #27ae60;
    --yellow: #f1c40f;
    --midnight: #17202a;
    --padding-sm: 1rem
    
        ;
    --padding-md: 2.5rem
    
        ;
    --padding-lg: 5rem
    
        ;
  }
}

/* Mixins */
/* Reset */
a,
abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
body,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
data,
datalist,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
head,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
main,
map,
mark,
meta,
meter,
nav,
noframes,
object,
ol,
optgroup,
option,
output,
p,
param,
picture,
pre,
progress,
q,
rp,
rt,
rtc,
ruby,
s,
samp,
section,
select,
slot,
small,
source,
span,
strong,
style,
sub,
summary,
sup,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
time,
title,
tr,
track,
u,
ul,
var,
video,
wbr {
  margin: 0;
  padding: 0;
  -webkit-padding-before: 0;
  padding-block-start: 0;
  -webkit-padding-after: 0;
  padding-block-end: 0;
  -webkit-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a::before, a::after,
abbr::before,
abbr::after,
address::before,
address::after,
area::before,
area::after,
article::before,
article::after,
aside::before,
aside::after,
audio::before,
audio::after,
b::before,
b::after,
base::before,
base::after,
bdi::before,
bdi::after,
bdo::before,
bdo::after,
blockquote::before,
blockquote::after,
body::before,
body::after,
br::before,
br::after,
button::before,
button::after,
canvas::before,
canvas::after,
caption::before,
caption::after,
cite::before,
cite::after,
code::before,
code::after,
col::before,
col::after,
colgroup::before,
colgroup::after,
data::before,
data::after,
datalist::before,
datalist::after,
dd::before,
dd::after,
del::before,
del::after,
details::before,
details::after,
dfn::before,
dfn::after,
dialog::before,
dialog::after,
div::before,
div::after,
dl::before,
dl::after,
dt::before,
dt::after,
em::before,
em::after,
embed::before,
embed::after,
fieldset::before,
fieldset::after,
figcaption::before,
figcaption::after,
figure::before,
figure::after,
footer::before,
footer::after,
form::before,
form::after,
h1::before,
h1::after,
h2::before,
h2::after,
h3::before,
h3::after,
h4::before,
h4::after,
h5::before,
h5::after,
h6::before,
h6::after,
head::before,
head::after,
header::before,
header::after,
hgroup::before,
hgroup::after,
hr::before,
hr::after,
html::before,
html::after,
i::before,
i::after,
iframe::before,
iframe::after,
img::before,
img::after,
input::before,
input::after,
ins::before,
ins::after,
kbd::before,
kbd::after,
label::before,
label::after,
legend::before,
legend::after,
li::before,
li::after,
main::before,
main::after,
map::before,
map::after,
mark::before,
mark::after,
meta::before,
meta::after,
meter::before,
meter::after,
nav::before,
nav::after,
noframes::before,
noframes::after,
object::before,
object::after,
ol::before,
ol::after,
optgroup::before,
optgroup::after,
option::before,
option::after,
output::before,
output::after,
p::before,
p::after,
param::before,
param::after,
picture::before,
picture::after,
pre::before,
pre::after,
progress::before,
progress::after,
q::before,
q::after,
rp::before,
rp::after,
rt::before,
rt::after,
rtc::before,
rtc::after,
ruby::before,
ruby::after,
s::before,
s::after,
samp::before,
samp::after,
section::before,
section::after,
select::before,
select::after,
slot::before,
slot::after,
small::before,
small::after,
source::before,
source::after,
span::before,
span::after,
strong::before,
strong::after,
style::before,
style::after,
sub::before,
sub::after,
summary::before,
summary::after,
sup::before,
sup::after,
table::before,
table::after,
tbody::before,
tbody::after,
td::before,
td::after,
template::before,
template::after,
textarea::before,
textarea::after,
tfoot::before,
tfoot::after,
th::before,
th::after,
thead::before,
thead::after,
time::before,
time::after,
title::before,
title::after,
tr::before,
tr::after,
track::before,
track::after,
u::before,
u::after,
ul::before,
ul::after,
var::before,
var::after,
video::before,
video::after,
wbr::before,
wbr::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Normalize */
html {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.625rem;
}

body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  font-size: 1.48rem;
  line-height: 1.48rem;
  white-space: nowrap;
  white-space: initial;
}

body main {
  min-height: 100vh;
  height: auto;
}

/* Text elements */
a,
abbr,
b,
bdi,
bdo,
blockquote,
br,
cite,
code,
data,
dd,
dfn,
dir,
div,
dl,
dt,
em,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
kbd,
li,
main,
mark,
ol,
p,
pre,
q,
rb,
rp,
rt,
rtc,
ruby,
s,
samp,
small,
span,
strong,
sub,
sup,
time,
tt,
u,
ul,
var,
wbr {
  color: inherit;
}

a, a:hover,
button,
button:hover,
[type="button"],
[type="button"]:hover {
  -webkit-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

a {
  text-decoration: none;
}

/* Headings */
h1 {
  display: block;
  font-size: 11.84rem;
  line-height: 11.84rem;
}

@media (max-width: 48rem) {
  h1 {
    font-size: 5.92rem;
    line-height: 5.92rem;
  }
}

h2 {
  display: block;
  font-size: 5.92rem;
  line-height: 5.92rem;
}

@media (max-width: 48rem) {
  h2 {
    font-size: 2.96rem;
    line-height: 2.96rem;
  }
}

h3 {
  display: block;
  font-size: 3.94667rem;
  line-height: 3.94667rem;
}

@media (max-width: 48rem) {
  h3 {
    font-size: 1.97333rem;
    line-height: 1.97333rem;
  }
}

h4 {
  display: block;
  font-size: 2.96rem;
  line-height: 2.96rem;
}

@media (max-width: 48rem) {
  h4 {
    font-size: 1.48rem;
    line-height: 1.48rem;
  }
}

h5 {
  display: block;
  font-size: 2.368rem;
  line-height: 2.368rem;
}

@media (max-width: 48rem) {
  h5 {
    font-size: 1.184rem;
    line-height: 1.184rem;
  }
}

h6 {
  display: block;
  font-size: 1.97333rem;
  line-height: 1.97333rem;
}

@media (max-width: 48rem) {
  h6 {
    font-size: 0.98667rem;
    line-height: 0.98667rem;
  }
}

/* _______ */
/*         */
/* Classes */
/* _______ */
/* Layout */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* For/each loop generated classes */
.padding--sm {
  padding: 1rem;
}

.padding--md {
  padding: 2.5rem;
}

.padding--lg {
  padding: 5rem;
}

.width--10 {
  width: 10%;
}

.width--20 {
  width: 20%;
}

.width--30 {
  width: 30%;
}

.width--40 {
  width: 40%;
}

.width--50 {
  width: 50%;
}

.width--60 {
  width: 60%;
}

.width--70 {
  width: 70%;
}

.width--80 {
  width: 80%;
}

.width--90 {
  width: 90%;
}

.width--100 {
  width: 100%;
}

.paddingwidth--10 {
  min-width: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

.paddingwidth--20 {
  min-width: 200px;
  padding-left: 20%;
  padding-right: 20%;
}

.paddingwidth--30 {
  min-width: 300px;
  padding-left: 30%;
  padding-right: 30%;
}

.paddingwidth--40 {
  min-width: 400px;
  padding-left: 40%;
  padding-right: 40%;
}

.paddingwidth--50 {
  min-width: 500px;
  padding-left: 50%;
  padding-right: 50%;
}

.paddingwidth--60 {
  min-width: 600px;
  padding-left: 60%;
  padding-right: 60%;
}

.paddingwidth--70 {
  min-width: 700px;
  padding-left: 70%;
  padding-right: 70%;
}

.paddingwidth--80 {
  min-width: 800px;
  padding-left: 80%;
  padding-right: 80%;
}

.paddingwidth--90 {
  min-width: 900px;
  padding-left: 90%;
  padding-right: 90%;
}

.paddingwidth--100 {
  min-width: 1000px;
  padding-left: 100%;
  padding-right: 100%;
}

.fontweight--100 {
  font-weight: 100;
}

.fontweight--200 {
  font-weight: 200;
}

.fontweight--300 {
  font-weight: 300;
}

.fontweight--400 {
  font-weight: 400;
}

.fontweight--500 {
  font-weight: 500;
}

.fontweight--600 {
  font-weight: 600;
}

.fontweight--700 {
  font-weight: 700;
}

.fontweight--800 {
  font-weight: 800;
}

.fontweight--900 {
  font-weight: 900;
}

/* Helpers */
@supports (display: flow-root) {
  .clearfix::after {
    display: flow-root;
    content: '';
  }
}

.clearfix--legacy::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.margin--auto {
  margin-left: auto;
  margin-right: auto;
}

.align {
  display: block;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.align--right {
  text-align: right;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

/* _____ */
/*       */
/* Grid  */
/* _____ */
/* Grid */
main,
.main {
  min-height: 100%;
  height: auto;
  display: grid;
}

main header,
main .header,
main aside,
main .sidebar,
main footer,
main .footer,
.main header,
.main .header,
.main aside,
.main .sidebar,
.main footer,
.main .footer {
  padding: 1rem;
}

main header > .container,
main .header > .container,
main footer > .container,
main .footer > .container,
.main header > .container,
.main .header > .container,
.main footer > .container,
.main .footer > .container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

main header,
main .header,
.main header,
.main .header {
  grid-area: header;
}

main aside,
main .sidebar,
.main aside,
.main .sidebar {
  grid-area: aside;
}

main section,
main .content,
.main section,
.main .content {
  padding: 5rem;
  grid-area: content;
}

main footer,
main .footer,
.main footer,
.main .footer {
  grid-area: footer;
}

.grid {
  display: grid;
}

.grid--column-1 {
  grid-column: 1/12;
}

.grid--row-1 {
  grid-row: 1/12;
}

.grid--order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.grid--column-2 {
  grid-column: 2/12;
}

.grid--row-2 {
  grid-row: 2/12;
}

.grid--order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.grid--column-3 {
  grid-column: 3/12;
}

.grid--row-3 {
  grid-row: 3/12;
}

.grid--order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.grid--column-4 {
  grid-column: 4/12;
}

.grid--row-4 {
  grid-row: 4/12;
}

.grid--order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.grid--column-5 {
  grid-column: 5/12;
}

.grid--row-5 {
  grid-row: 5/12;
}

.grid--order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.grid--column-6 {
  grid-column: 6/12;
}

.grid--row-6 {
  grid-row: 6/12;
}

.grid--order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}

.grid--column-7 {
  grid-column: 7/12;
}

.grid--row-7 {
  grid-row: 7/12;
}

.grid--order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
}

.grid--column-8 {
  grid-column: 8/12;
}

.grid--row-8 {
  grid-row: 8/12;
}

.grid--order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8;
}

.grid--column-9 {
  grid-column: 9/12;
}

.grid--row-9 {
  grid-row: 9/12;
}

.grid--order-9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9;
}

.grid--column-10 {
  grid-column: 10/12;
}

.grid--row-10 {
  grid-row: 10/12;
}

.grid--order-10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}

.grid--column-11 {
  grid-column: 11/12;
}

.grid--row-11 {
  grid-row: 11/12;
}

.grid--order-11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  order: 11;
}

.grid--column-12 {
  grid-column: 12/12;
}

.grid--row-12 {
  grid-row: 12/12;
}

.grid--order-12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12;
}

/* Layouts */
.grid--layout-1 {
  grid-template-rows: minmax(auto, 6rem) 1fr minmax(auto, 6rem);
  grid-template-columns: 1fr;
  grid-template-areas: 'header header' 'content content' 'footer footer';
}

.grid--layout-2 {
  grid-template-rows: minmax(auto, 6rem) 1fr minmax(auto, 6rem);
  grid-template-columns: minmax(auto, 24rem) 1fr;
  grid-template-areas: 'header header' 'aside content' 'footer footer';
}

@media (max-width: 60rem) {
  .grid--layout-2.use-mq {
    grid-template-rows: minmax(auto, 6rem) minmax(auto, 12rem) 1fr minmax(auto, 6rem);
    grid-template-columns: 1fr;
    grid-template-areas: 'header header' 'aside aside' 'content content' 'footer footer';
  }
}

.grid--layout-3 {
  grid-template-rows: 1fr minmax(auto, 6rem);
  grid-template-columns: minmax(auto, 24rem) 1fr;
  grid-template-areas: 'aside content' 'aside footer';
}

@media (max-width: 60rem) {
  .grid--layout-3.use-mq {
    grid-template-rows: minmax(auto, 24rem) 1fr minmax(auto, 6rem);
    grid-template-columns: 1fr;
    grid-template-areas: 'aside aside' 'content content' 'footer footer';
  }
}

/* __________ */
/*            */
/* Navigation */
/* __________ */
nav {
  display: table;
}

nav > ul {
  display: table;
  list-style-type: none;
}

nav > ul[data-hover-color='white'] > li > a:hover {
  color: #fdfefe;
}

nav > ul[data-hover-color='black'] > li > a:hover {
  color: #222222;
}

nav > ul[data-hover-color='gray'] > li > a:hover {
  color: #b3b6b7;
}

nav > ul[data-hover-color='red'] > li > a:hover {
  color: #e74c3c;
}

nav > ul[data-hover-color='purple'] > li > a:hover {
  color: #8e44ad;
}

nav > ul[data-hover-color='blue'] > li > a:hover {
  color: #3498db;
}

nav > ul[data-hover-color='green'] > li > a:hover {
  color: #27ae60;
}

nav > ul[data-hover-color='yellow'] > li > a:hover {
  color: #f1c40f;
}

nav > ul[data-hover-color='midnight'] > li > a:hover {
  color: #17202a;
}

nav > ul > li > a {
  display: inline-block;
  padding: 1.25rem 2rem;
  margin: 0 1rem;
}

nav.row > ul > li {
  float: left;
}

/*___________________*/
/*                   */
/*     Temporary     */
/*      Styling      */
/*___________________*/
aside a:hover {
  background-color: #e74c3c;
}

/*# sourceMappingURL=main.css.map */