$colors: (
    white: map-get( $clouds, 0 ),
    black: map-get( $black, 7 ),
    gray: map-get( $clouds, 7 ),
    red: map-get( $aliz, 5 ),
    purple: map-get( $wist, 5 ),
    blue: map-get( $pete, 5 ),
    green: map-get( $neph, 5 ),
    yellow: map-get( $sun, 5 ),
    midnight: map-get( $mid, 9 )
);

@each $key, $color in $colors {

    .bg--#{ $key } {

        background-color: $color;

        @for $i from 1 through 10 {

            &--lighten-#{ $i }0 {
                @if $key != white {
                    background-color: lighten( $color, $i + 0% );
                }
            }

            &--darken-#{ $i }0 {
                background-color: darken( $color, $i + 0% );
            }

        }

    }

    .color--#{ $key } {

        color: $color;

        @for $i from 1 through 10 {

            &--lighten-#{ $i }0 {
                @if $key != white {
                    color: lighten( $color, $i + 0% );
                }
            }

            &--darken-#{ $i }0 {
                color: darken( $color, $i + 0% );
            }

        }

    }

}

@supports ( --var: green ) {

    :root {

        --size: #{ $size };
        --timing: #{ $timing };
    
        @each $key, $color in $colors {
    
            --#{ $key }: #{ $color };
    
        }
        
        @each $key, $value in $padding {
    
            --padding-#{ $key }: #{ $value }
    
        }
    
    }

}