/* Main values and sizes */

$size: 1.48;
$sizes: ( sm: 1rem, md: 2.5rem, lg: 5rem );
$timing: 250ms;

/* ______ */
/*        */
/* Colors */
/* ______ */

$pome: (
	0: #f9ebea,
	1: #f2d7d5,
	2: #e6b0aa,
	3: #d98880,
	4: #cd6155,
	5: #c0392b,
	6: #a93226,
	7: #922b21,
	8: #7b241c,
	9: #641e16
);

$aliz: (
	0: #fdedec,
	1: #fadbd8,
	2: #f5b7b1,
	3: #f1948a,
	4: #ec7063,
	5: #e74c3c,
	6: #cb4335,
	7: #b03a2e,
	8: #943126,
	9: #78281f
);

$amet: (
	0: #f5eef8,
	1: #ebdef0,
	2: #d7bde2,
	3: #c39bd3,
	4: #af7ac5,
	5: #9b59b6,
	6: #884ea0,
	7: #76448a,
	8: #633974,
	9: #512e5f
);

$wist: (
	0: #f4ecf7,
	1: #e8daef,
	2: #d2b4de,
	3: #bb8fce,
	4: #a569bd,
	5: #8e44ad,
	6: #7d3c98,
	7: #6c3483,
	8: #5b2c6f,
	9: #4a235a
);

$beli: (
	0: #eaf2f8,
	1: #d4e6f1,
	2: #a9cce3,
	3: #7fb3d5,
	4: #5499c7,
	5: #2980b9,
	6: #2471a3,
	7: #1f618d,
	8: #1a5276,
	9: #154360
);

$pete: (
	0: #ebf5fb,
	1: #d6eaf8,
	2: #aed6f1,
	3: #85c1e9,
	4: #5dade2,
	5: #3498db,
	6: #2e86c1,
	7: #2874a6,
	8: #21618c,
	9: #1b4f72
);

$turq: (
	0: #e8f8f5,
	1: #d1f2eb,
	2: #a3e4d7,
	3: #76d7c4,
	4: #48c9b0,
	5: #1abc9c,
	6: #17a589,
	7: #148f77,
	8: #117864,
	9: #0e6251
);

$sea: (
	0: #e8f6f3,
	1: #d0ece7,
	2: #a2d9ce,
	3: #73c6b6,
	4: #45b39d,
	5: #16a085,
	6: #138d75,
	7: #117a65,
	8: #0e6655,
	9: #0b5345
);

$neph: (
	0: #e9f7ef,
	1: #d4efdf,
	2: #a9dfbf,
	3: #7dcea0,
	4: #52be80,
	5: #27ae60,
	6: #229954,
	7: #1e8449,
	8: #196f3d,
	9: #145a32
);

$emer: (
	0: #eafaf1,
	1: #d5f5e3,
	2: #abebc6,
	3: #82e0aa,
	4: #58d68d,
	5: #2ecc71,
	6: #28b463,
	7: #239b56,
	8: #1d8348,
	9: #186a3b
);

$sun: (
	0: #fef9e7,
	1: #fcf3cf,
	2: #f9e79f,
	3: #f7dc6f,
	4: #f4d03f,
	5: #f1c40f,
	6: #d4ac0d,
	7: #b7950b,
	8: #9a7d0a,
	9: #7d6608
);

$oran: (
	0: #fef5e7,
	1: #fdebd0,
	2: #fad7a0,
	3: #f8c471,
	4: #f5b041,
	5: #f39c12,
	6: #d68910,
	7: #b9770e,
	8: #9c640c,
	9: #7e5109
);

$carr: (
	0: #fdf2e9,
	1: #fae5d3,
	2: #f5cba7,
	3: #f0b27a,
	4: #eb984e,
	5: #e67e22,
	6: #ca6f1e,
	7: #af601a,
	8: #935116,
	9: #784212
);

$pump: (
	0: #fbeee6,
	1: #f6ddcc,
	2: #edbb99,
	3: #e59866,
	4: #dc7633,
	5: #d35400,
	6: #ba4a00,
	7: #a04000,
	8: #873600,
	9: #6e2c00
);

$clouds: (
	0: #fdfefe,
	1: #fbfcfc,
	2: #f7f9f9,
	3: #f4f6f7,
	4: #f0f3f4,
	5: #ecf0f1,
	6: #d0d3d4,
	7: #b3b6b7,
	8: #979a9a,
	9: #7b7d7d
);

$silver: (
	0: #f8f9f9,
	1: #f2f3f4,
	2: #e5e7e9,
	3: #d7dbdd,
	4: #cacfd2,
	5: #bdc3c7,
	6: #a6acaf,
	7: #909497,
	8: #797d7f,
	9: #626567
);

$conc: (
	0: #f4f6f6,
	1: #eaeded,
	2: #d5dbdb,
	3: #bfc9ca,
	4: #aab7b8,
	5: #95a5a6,
	6: #839192,
	7: #717d7e,
	8: #5f6a6a,
	9: #4d5656
);

$asbe: (
	0: #f2f4f4,
	1: #e5e8e8,
	2: #ccd1d1,
	3: #b2babb,
	4: #99a3a4,
	5: #7f8c8d,
	6: #707b7c,
	7: #616a6b,
	8: #515a5a,
	9: #424949
);

$asph: (
	0: #ebedef,
	1: #d6dbdf,
	2: #aeb6bf,
	3: #85929e,
	4: #5d6d7e,
	5: #34495e,
	6: #2e4053,
	7: #283747,
	8: #212f3c,
	9: #1b2631
);

$mid: (
	0: #eaecee,
	1: #d5d8dc,
	2: #abb2b9,
	3: #808b96,
	4: #566573,
	5: #2c3e50,
	6: #273746,
	7: #212f3d,
	8: #1c2833,
	9: #17202a
);

$black: (
	0: #999999,
	1: #888888,
	2: #777777,
	3: #666666,
	4: #555555,
	5: #444444,
	6: #333333,
	7: #222222,
	8: #111111,
	9: #000000
);

$white: (
	0: #ffffff,
	1: #f1f1f1,
	2: #f2f2f2,
	3: #f3f3f3,
	4: #f4f4f4,
	5: #f5f5f5,
	6: #f6f6f6,
	7: #f7f7f7,
	8: #f8f8f8,
	9: #f9f9f9
);