.clearfix // Clearfix
    clear: both

    &::after
        content: ' '
        display: flow-root // The new "clearfix"
        clear: both

.align
    display: block

    &-center
        text:
            align: center

    &-left
        text:
            align: left

    &-right
        text:
            align: right

.float
    &-left
        float: left

    &-right
        float: right